<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
</head>
<body>
<!--Heading-->
<div class="container"><h3>Movie Recommendations</h3></div>

 <!-- Search Form -->
    <div class="container">
      <form action="/send_results" method="POST">
<!--          <label for="search_term"></label>-->
        <input id="search_term" placeholder="Search Movies..." name="search_term" type="text"/>

        <input type="submit" value="results" id="search_btn" />
        <br />
        <div class="alert">
          {{ results }}
        </div>
      </form>
</body>
</html>